* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #999;
}

h3 {
    margin-left: 30px;
    font-style: italic;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-left: 35px;
}

.container {
    padding: 0;
    background-color: #70efe6;
    text-align: center;
}

.game-summary-icon {
    width: 48px;
    height: 70px;
    float: right;
}

.game-summary-table {
    float: left;
    margin: 30px 0 10px 0;
    font-style: normal;
    font-weight: bolder;
    color: #0a3def;
}

.modal {
    background-color: #cdcccf;
}

.modal-content {
    background-color: #9dccf4;
}

.modal-body {
    text-align: left;
    margin: 10px 30px;
    font-size: medium;
    line-height: 1.5;
}

.modal-header,
.modal-footer {
    background-color: #b5cf6f;
}

#welcome-msg {
    margin: 50px 100px;
    font-size: large;
    background-color: #f4c3c0;
}

#welcome-msg h1,
#welcome-msg p {
    line-height: 1.5;
    color: #dd2039;
}

#title-imgage {
    margin: 15px 0 0 0;
}

#canvas-placeholder {
}

#character-menu {
    margin-top: 20px;
}

#game-summary {
    margin-top: 10px;
    text-align: left;
}
